div#supra {
    background: slategrey;
    height: 100vh;
}

div#cardTable {
    background-image: url('https://img.fabricgateway.com/66/66b2b5ad5874d6f927380a7c0ed63642.jpeg');
    height: 90vh;
}

.myHand {
    position: absolute;
    bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    width: 95%;
}

.card-container {

  flex: 1 0 0;
  overflow-x: hidden;
}

.card-container:last-child {
  flex: 0 0 auto;
}

.playing-card {
    width: 100px;
    height: 150px;
}

.centeredPosition {
    position: absolute;
    left: 40%;
    bottom: 175px;
    color: ivory;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
